<article
  class="card bg-dark rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
  {{ $image := .Resources.GetMatch .Params.image }}
  {{ if $image }}
    {{ if and ( gt $image.Width 600 ) ( not .Params.dont_resize_image ) }}
      {{ $image = $image.Resize "600x q75" }}
    {{ end }}
    {{ $image = $image.RelPermalink }}
  {{ else }}
    {{ $image = .Params.image | relURL }}
  {{ end }}
  <!-- <img class="card-img-top rounded-0" src="{{ .Params.image | relURL }}" alt="{{ .Title }}"> -->
  <a href="{{ .Permalink }}"><img class="card-img-top rounded-0" src="{{ $image }}" alt="{{ .Title }}"></a>
  <div class="card-body">
    <!-- post meta -->
    <ul class="list-inline mb-3">
      <!-- author -->
      <li class="list-inline-item mr-3 ml-0 meta">
        <a href="{{ `team/` | relLangURL }}{{ .Params.Author | urlize }}">
          {{ $a := partial "get_team" .Params.Author }}
          {{ $img := $a.Resources.GetMatch $a.Params.image }}
          {{ $img = $img.Fill "32x32 center" }}
          <img src="{{ $img.RelPermalink }}" alt="{{ .Params.Author }}" class="rounded-circle mr-1">
          {{ .Params.Author | title }}
        </a>
      </li>
      <!-- post date -->
      <li class="list-inline-item mr-3 ml-0 meta">{{ partial "ti" "calendar o" }}
        {{ .PublishDate | time.Format "02 Jan 2006" }}</li>
    </ul>
    <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <p class="card-text">{{ .Summary  }}</p>
    <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">{{ i18n "read_more" }}</a>
    <div class="row mt-4">
      <div class="col-1">{{ partial "ti" "folder o" }}</span></div>
      <div class="col-10">
        {{ range (.GetTerms "categories") }}
          <a href="{{ .Permalink }}" class="badge badge-secondary" style="font-weight: 500">{{ .LinkTitle }}</a>
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-1">{{ partial "ti" "tag o" }}</div>
      <div class="col-10">
        {{ range (.GetTerms "tags") }}
          <a href="{{ .Permalink }}" class="badge badge-secondary" style="font-weight: 500">{{ .LinkTitle }} {{.Description}}</a>
        {{ end }}
      </div>
    </div>
    <p>
      
      </p>
  </div>
</article>