{{ define "main" }}

<!-- blog details -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      {{ if not .Params.Bg_image }}
      <div class="col-12 mb-3">
        <h1>{{.Title}}</h1>
      </div>
      {{ end }}
      <div class="col-lg-8 order-2 order-lg-1">
        <div class="row">
          <!-- Image -->
          {{ $image := .Resources.GetMatch .Params.image }}
          {{ if $image }}
          {{ if and ( gt $image.Width 800 ) ( not .Params.dont_resize_image ) }}
            {{ $image = $image.Resize "800x q75" }}
          {{ end }}
            {{ $image = $image.RelPermalink }}
          {{ else }}
            {{ $image = .Params.image | relURL }}
          {{ end }}
          {{ if not .Params.no_image }}
          <div class="col-12 mb-4">
            <img src="{{ $image }}" alt="blog-thumb" class="img-fluid w-100">
          </div>
          {{ end }}
          <!-- Meta -->
          <div class="col-12">
            <ul class="list-inline">
              <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light">
                {{ $a := partial "get_team" .Params.Author }}
                <a href="{{ $a.RelPermalink }}" alt="{{ $a.Title}}">
                  {{ $img := $a.Resources.GetMatch $a.Params.image }}
                  {{ $img = $img.Fill "32x32 center" }}
                  <img src="{{ $img.RelPermalink }}" alt="{{ .Params.Author }}" class="rounded-circle mr-1">
                  {{ .Params.Author | title }}
                </a>
              </li>

              <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n "date" }}
                  :</span>{{ .PublishDate | time.Format "02 Jan 2006" }}</li>

              <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n "category" }}
                  :</span>{{ range $index, $elements:= .Params.Categories }}<a
                  href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"> {{ if ne $index 0 }}, {{ end }}
                  {{ . | title }}</a> {{ end}}</li>
            </ul>
          </div>
          <ul class="col-12 list-inline tag-list dark d-lg-none">
            {{ range (.GetTerms "tags") }}
            <li class="list-inline-item text-small mb-1">
              <a href="{{ .Permalink }}" class="p-1">
                {{ .LinkTitle }} 
              </a>
            </li>
            {{ end }}
          </ul>
          <!-- border -->
          <div class="col-12 my-4">
            <div class="border-bottom"></div>
          </div>
          <!-- blog contect -->
          <div class="col-12 mb-5 content">
            {{ .Content | replaceRE "&ldquo;(.*?)&rdquo;" "&laquo;&nbsp;$1&nbsp;&raquo;" | safeHTML }}
          </div>
          <!-- comments -->
          {{ if site.Config.Services.Disqus.Shortname }}
          <div class="col-12">
            {{ template "_internal/disqus.html" . }}
          </div>
          {{ end }}
          <!-- Next / previous -->
          <div class="row my-4">
              {{ with .PrevInSection }}
              <a href="{{ .Permalink }}" class="col-1 btn btn-secondary text-nowrap btn-xs">{{ partial "ti" "double-caret-left o" }}</a>
              <a href="{{ .Permalink }}" class="col-5">{{ .Title }}</a>
              {{ end }}
              {{ with .NextInSection }}
              <a href="{{ .Permalink }}" class="col-5">{{ .Title }}</a>
              <a href="{{ .Permalink }}" class="col-1 btn btn-secondary text-nowrap btn-xs">{{ partial "ti" "double-caret-right o" }}</a>
              {{ end }}
          </div>
        </div>
      </div>
      {{ partial "blog-sidebar.html" . }}
    </div>
  </div>
</section>
<!-- /blog details -->

{{ end }}