[build]
  publish = "public"
  command = "bash build.sh"
  
[build.environment]
  HUGO_VERSION = "0.154.2"
  PYTHON_VERSION = "3.10"

[context.branch-deploy]
command = "hugo --minify --gc --buildFuture -b $DEPLOY_PRIME_URL"

[[headers]]
  for = "/*" # This defines which paths this specific [[headers]] block will cover.

[headers.values]
  X-Frame-Options = "DENY"
  X-XSS-Protection = "1; mode=block"
  Referrer-Policy = "same-origin"
  Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"