{{ "<!-- sidebar -->" | safeHTML }}
<aside class="col-lg-4 order-2 order-lg-2 mt-5 mt-lg-0">
  {{ "<!-- categories -->" | safeHTML }}
  <div class="bg-body mb-5">
    <h4 class="mb-4 text-majenta">{{ i18n "categories" }}</h4>
    {{- if isset site.Taxonomies "categories" }}
    {{- if not (eq (len site.Taxonomies.categories) 0) }}
    <ul class="list-unstyled">
      {{- range $name, $items := site.Taxonomies.categories }}
      <li class="border-bottom"><a href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}" class="d-block pb-3 mt-3">{{ $name | title | humanize }}</a></li>
      {{- end }}
      <li class="border-bottom"><a href="{{ `/blog` | relLangURL }}" class="d-block pb-3 mt-3">{{ "Tout" | title | humanize }}</a></li>
    </ul>
    {{- end }}
    {{- end }}
  </div>
  {{ "<!-- tags -->" | safeHTML }}
  <div class="bg-body mb-5">
    {{ $l := "/tags" | absURL }}
    <h4 class="mb-4 text-majenta"><a href="{{ $l }}">{{ i18n "tags" }}</a></h4>
    {{- if isset site.Taxonomies "tags" }}
    {{- if not (eq (len site.Taxonomies.tags) 0) }}
    <ul class="list-inline tag-list">
      {{ $tags := slice }}
      {{ range .Pages }} {{ with .Params.tags }} {{ $tags = $tags | union . }} {{ end }} {{ end }}
      {{ $tags = apply $tags "humanize" "." }}
      {{- range $name, $items := site.Taxonomies.tags }}
        {{- if in $tags ($name | humanize) -}}
          <li class="list-inline-item mb-2">
            <a href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}" class="p-1">
              {{ $name | humanize }}
            </a>
          </li>
        {{ end }}
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  {{ "<!-- latest post -->" | safeHTML }}
  <div class="bg-body">
    <h4 class="mb-4 text-majenta">{{ i18n "latest_article" }}</h4>
    {{ "<!-- post-item -->" | safeHTML }}
    {{ range first 5 ( where site.Pages "Type" "post" )}}
    <div class="media pb-2 mb-4">
      <a href="{{ .Permalink }}">
        {{ $img := .Resources.GetMatch .Params.image }}
        {{ $img = $img.RelPermalink }}
        {{ if not .Params.dont_resize_image }}
          {{ $img = partial "img_fill" (dict "ctx" . "path" .Params.image "param" "100x100 q50") }}
        {{ end }}
        <img class="mr-3 post-thumb-sm" src="{{ $img }}">
      </a>
      <div class="media-body">
        <a href="{{ .Permalink }}">
          <h5 class="mt-0">{{ .Title }}</h5>
        </a>
        {{ .PublishDate | time.Format "02 Jan 2006" }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ "<!-- Table of content -->" | safeHTML }}
  {{ if gt (len .TableOfContents) 40 }}
  <div class="bg-body">
    <h4 class="mb-4 text-majenta">{{ i18n "table_of_contents" }}</h4>
    {{ .TableOfContents }}
  </div>
  {{ end }}
</aside>
{{ "<!-- /sidebar -->" | safeHTML }}