<!-- page title -->
{{ if .Params.Bg_image }}
<section class="page-title-section overlay" style="background-image: url('{{ .Params.Bg_image | relURL}}'),url('{{`images/backgrounds/page-title.jpg`| relURL}}');" >
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item h3">
            <a class="text-secondary font-secondary" href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a>
          </li>
          <li class="list-inline-item h5">{{ partial "ti" "right o" }}</li>
          <li class="list-inline-item text-white h2 font-secondary">{{ .Title }}</li>
        </ul>
        <p class="text-lighten">{{ .Params.Description | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ else }}

<section class="page-title-separator p-3 m-5"></section>

{{ end }}