// Tweaks

.bg-body {background: $body-color;}
.overlay::before {background: $darkgray;}
a.text-secondary, a.text-secondary:hover { color: $majenta !important; }

// Navbar
.navigation {
  background: transparent;
  padding: 10px 0;
  .navbar-toggler { 
    border-color: $primary-color;
    i { font-size: 25px; color: $primary-color;}
  };
  .small{ display:none; }
  .large{ display:block; }
}

.navbar-collapse {
  background: transparent;
}

.navbar-dark .navbar-nav { 
  background: transparent;
  .nav-link, .nav-link:hover {
    color: $primary-color;
  }
  @include desktop {
    background: $primary-color;
    .nav-link {color:$darkgray;}
    .nav-link:hover {color: $majenta;}
  }
  .nav-item::before {
    background:$primary-color;
  }
  .dropdown-menu {
    top: inherit;
  }
}

.navigation.nav-bg {
  background: $darkgray;
  padding: 3px 0;
  .small{ display:block; }
  .large{ display:none; }
  .nav-link {
    padding: 15px 0;
  }
}

.hero-slider {
  .nextArrow, .prevArrow { color: $secondary-color; }
  .slick-dots li button { background: $gray; }
}

// Pagination
.pagination{
  .page-link{
    border: none;
    color: $darkgray;
    background: transparent;
  }
  .page-link:hover{
    background: $majenta;
    color: $darkgray;
  }
  .page-item.disabled .page-link{
    background: transparent;
    color: $gray;
  }
}

.content{

  // Typography
  blockquote {
    p {
      margin-bottom: 0;
      color: $text-color;
      margin-left: 3em;
    }
  }

  a{ color: $primary-color; text-decoration: none; }
  a:hover{ color: $secondary-color; }
  a.btn-primary{ color: $darkgray; }
  hr {border: 1px dotted green;}
  hr {
    display: block;
    clear: both;
    height: 0;
    margin: 20px 0 60px;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: 24px;
  }
  hr:after {
    content: "⚂⚀⚁⚂⚃⚄⚅";
    height: 0;			
    letter-spacing: 1em;
    color: $majenta;
  }
  ol { list-style-type: auto;  }
  figcaption p { font-size: smaller; }
}

// Footer
.bg-footer {
  background-color: #4b4c58;
}
.footer {
  border-color: $yellow !important;
  padding-top: 275px;
  color: #ddd;
  a {
    color: #ccc;
    text-transform: capitalize;
    &:hover {
      text-decoration: none;
      color: $yellow;
    }
  }
}
.copyright p {text-transform: none;}