
<div id="place" class="content text-center">

<div class="palette mb-3" v-if="logged">
  <div v-for="c in colors" :key="c"
    :class="'colorpicker ' + (selected_color == c ? 'selected' : '')" 
    :style="'background:'+c"
    @click="selected_color = c"></div>
    <a class="ml-5 btn btn-primary btn-sm" @click="signout">
      {{ partial "ti" "logout" }} Log out <img height="32" :src="user.user_metadata.avatar_url" class="rounded-circle" /> [[ user.user_metadata.full_name]]
    </a>
</div>
<div v-else class="mb-3">
  <a class="ml-5 btn btn-primary btn-sm" @click="signInWithDiscord">{{partial "ti" "discord"}} connecte-toi pour dessiner</a>
</div>

<!-- <div class="place-container">
  <div class="area">
    <div style="transform: scale(10);">
    -->
      <canvas width="640" height="640" id="pixel"
        @wheel.prevent="zoom"
        @mousemove="mouseMove"
        @touchmove="touchMove"
        @touchstart="touchMove"
        @click="click">
      </canvas>
      <!--       
    </div>
  </div>
</div> -->

<p class="text-majenta" v-if="logged"><span v-if="!can_edit" >Attend [[delay-last_edit]] secondes pour dessiner.</span></p>

<p class="text-cyan" v-if="meta.name || meta.time">Pixel ([[ meta.coord.join(":") ]]) placé par [[meta.name || '???']] le [[meta.time]] </p>

<hr>

</div>


</div>
<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2.0.0/dist/umd/supabase.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script>


var SUPABASE_URL = "https://drbeghxanufknwzdtnub.supabase.co";
var SUPABASE_ANON_KEY =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRyYmVnaHhhbnVma253emR0bnViIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjQ2MzYzODYsImV4cCI6MTk4MDIxMjM4Nn0.NiRDrSZx88xX_6I4XWt0k_y7JlszO4zGQPSDLvHDLm0";

const { createClient } = supabase
const SB = createClient(SUPABASE_URL, SUPABASE_ANON_KEY);
const { createApp, onMounted, onBeforeUnmount, ref, computed, reactive, watch } = Vue



createApp({
  delimiters: ["[[", "]]"],
  data() {
    /*
    PARAMS
    */
    const W = 64
    const H = 64
    const WIDTH = 10
    var to_update = [];
    /*
    SUPABASE
    */
    const update_data = (d) => {
      if (!(d.x in data.value))
        data.value[d.x] = {}
      data.value[d.x][d.y] = d
      to_update.push([d.x, d.y])
      draw_update()
    }
    const data = ref({})
    const fetch_pixels = async () => {
      const R = await SB
        .from("place")
        .select();
      console.log(`Recu ${R.data.length} elements.`)
      R.data.forEach(d => update_data(d))
      // data.value = R.data;
      draw();
    }
    fetch_pixels()

    const subscription = SB
      .channel("public:place")
      .on('postgres_changes',
          { event: '*', schema: 'public', table: 'place' }, (d) => {
        console.log("UPDAAAATE", d)
        // fetch_pixels();
        update_data(d.new)
      })
      .subscribe();
    console.log(SB.getChannels())

    var user = ref({})
    SB.auth.onAuthStateChange((_, session) => {
      if (session) {
        user.value = session.user;
        console.log("USER CHANGED:", user.value)
      }
      else 
        user.value = {}
    });
    onMounted(() => (user.value = SB.auth.getUser()));

    const logged = computed(() => user.value && user.value.user_metadata)
    const signInWithDiscord = async () => {
      const { user, session, error } = await SB.auth.signInWithOAuth({
        provider: 'discord',
        options: {
          redirectTo: '{{ .Page.Permalink }}'
        }
      })
    }
    const signout = async () => {
      const { error } = await SB.auth.signOut()
    }
    const get_color = (x, y) => {
      try {
        return data.value[x][y].color
      } catch {
        return "#000000"
      }
    }
    const set_pixel = async (x, y, color) => {
      if (!logged.value || !can_edit.value ) return
      try {
        var d = data.value[x][y]
        var meta = d ? JSON.parse(JSON.stringify(d.meta)) : {}
      } catch {
        var d = null
        var meta = {}
      }
      s = {
          x: x,
          y: y,
          color: color,
          meta: Object.assign(meta, {
            [Date.now()]: logged.value.provider_id,
            last_edit: logged.value.full_name
          })
        }
      if (d)
        await SB.from("place").update(s)
        .match({x: x, y: y})
      else 
        await SB.from("place").insert(s)
    }
    var now = ref(Date.now())
    setInterval(() => now.value = Date.now(), 1000)
    const last_edit = computed(() => {
      if (!logged.value) return null
      var last = 0
      for (var x in data.value)
        for (var y in data.value)
          if (data.value[x][y])
            for (var t in data.value[x][y].meta)
              if (data.value[x][y].meta[t] == logged.value.provider_id && t > last)
                last = t
      return Math.round((now.value - last) / 1000)
    })
    const can_edit = computed(() => {
      return logged.value && last_edit.value >= delay
    })

    /*
    CANVAS
    */
    var canvas = null; var ctx = null
    var scale = 1;
    var max_scale = 3;
    var min_scale = .1;
    var scale_step = .1;
    var draw_pos = []
    var selected = null
    var delay = 60;
    onMounted(() => {
      canvas = document.getElementById("pixel")
      ctx =  canvas.getContext("2d");
      draw_pos = [canvas.width/2, canvas.height/2];
      draw()
    })
    var last_draw = [null, null, null]
    var _draw_pos = []
    const draw = () => {
      _draw_pos = [ 
        Math.floor(draw_pos[0] / WIDTH / scale) * WIDTH * scale,
        Math.floor(draw_pos[1] / WIDTH / scale) * WIDTH * scale,
      ]
      if (_draw_pos[0] == last_draw[0] && 
          _draw_pos[1] == last_draw[1] && 
          scale == last_draw[2]) return
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      for (x = 0; x < W; x++) {
        for (y = 0; y < H; y++) {
          drawPixel(x, y);
        }
      }
      last_draw = [
        _draw_pos[0], _draw_pos[1], scale
      ]
    }
    const draw_update = () => {
      to_update.forEach(i => drawPixel(i[0], i[1]))      
      to_update = []
    }
    const drawPixel = (x, y) => {
      var dx = _draw_pos[0] - (W * WIDTH * scale) / 2
      var dy = _draw_pos[1] - (H * WIDTH * scale) / 2
      var px = dx + x*WIDTH*scale
      var py = dy + y*WIDTH*scale
      if (px + WIDTH*scale < 0 || py + WIDTH*scale < 0
          || px > canvas.width || py > canvas.height ) return
      ctx.save()
      ctx.fillStyle = get_color(x, y);
      ctx.fillRect(px, py, WIDTH*scale, WIDTH*scale);

      if (selected && selected[0] == x && selected[1] == y){
        ctx.strokeStyle = "green"
        ctx.strokeRect(dx + x*WIDTH*scale + 1, dy + y*WIDTH*scale + 1, WIDTH*scale - 2, WIDTH*scale - 2);
      }
      ctx.restore()
    }
    /*
    PAN & ZOOM
    */
    var drag = false
    const meta = ref({})
    const mouseMove = (evt) => {
      // Move draw
      if (evt.buttons) {
        draw_pos[0] += evt.movementX
        draw_pos[1] += evt.movementY
        drag = true
        draw()
      } else {
        // Get selected
        if (selected) to_update.push(selected)
        selected = pos2coord(evt.offsetX, evt.offsetY)
        if (selected) to_update.push(selected)
        draw_update()

        // Get meta
        if (selected) {
          try {
            var d = data.value[selected[0]][[selected[1]]]
            meta.value = {
              coord: selected,
              name: d.meta.last_edit,    
              time: new Date(Math.max(...Object.keys(d.meta).filter(v => v != "last_edit"))).toLocaleString()
            }
          } catch {
            meta.value = {}
          }
        }
      }
    }
    var last_touch = null
    const touchMove = (evt) => {
      if (evt.type == "touchstart")
      last_touch = [
        evt.touches[0].clientX,
        evt.touches[0].clientY,
      ]
      if (evt.type == "touchmove" && last_touch)
      {
        evt.preventDefault()
        draw_pos[0] -= last_touch[0] - evt.touches[0].clientX
        draw_pos[1] -= last_touch[1] - evt.touches[0].clientY
        draw()
        last_touch = [
          evt.touches[0].clientX,
          evt.touches[0].clientY,
        ]
      } else if (evt.type == "touchend")
        last_touch = null
    }
    const pos2coord = (x, y) => {
      // Prend la position x:y sur le canvas, et renvoie les coordonnées du pixel en dessous
      var x = (W * WIDTH * scale) / 2 - _draw_pos[0] + x
      x = Math.floor(x / WIDTH / scale)
      var y = (H * WIDTH * scale) / 2 - _draw_pos[1] + y
      y = Math.floor(y / WIDTH / scale)
      if (x < 0 || x >= W || y < 0 || y >= H) 
        return null
      else
        return [x, y]
    }
    const zoom = (evt) => {
      if (evt.wheelDelta > 0){
        scale = Math.min(scale + scale_step, max_scale)
        draw()
      }
      else if (evt.wheelDelta < 0){
        scale = Math.max(scale - scale_step, min_scale)
        draw()
      }
    }
    const click = async (evt) => {
      var coord = pos2coord(evt.offsetX, evt.offsetY)
      if (coord && !drag){
        set_pixel(coord[0], coord[1], selected_color.value)
      }
      drag = false
    }
    /*
    INTERFACE
    */
    const colors = [
      "white", "grey", "red", "orange", "fuchsia", "lime", "yellow", "blue", "aqua",
      "black", "silver", "maroon", "#fbceb1", "purple", "green", "olive", "navy", "teal"
    ]
    const selected_color = ref("white")
    return {
      user, logged, signInWithDiscord, signout, 
      draw, mouseMove, zoom, click, touchMove,
      colors, selected_color,
      last_edit, delay, can_edit, meta
    }
  }
}).mount('#place')
</script>

<style>

canvas#pixel {
  border: 2px solid #00ffdd;
  image-rendering: pixelated;
}

.palette div.colorpicker {
  width: .9em;
  height: .9em;
  display: inline-block;
  border-radius: 50%;
  margin: .3em;
  vertical-align: middle;
}
.palette div.colorpicker.selected {
  /* border-radius: 0; */
  width: 1.5em;
  height: 1.5em;
  margin: 0;
}

.place-container {
  position: fixed;
  width: 100vh;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.area {
  /*position: absolute;*/
  display:inline-block;
}

</style>