{{ define "main" }}
<!-- blog details -->
<section class="section-sm">
  <div class="container">
      <div class="row content">
        <div class="col-12 mb-3">
          <h1>{{.Title}}</h1>
        </div>
        {{ if .Params.image }}
        <div class="col-12 mb-4">
          <img src="{{ .Params.image | relURL }}" alt="blog-thumb" class="img-fluid w-100">
        </div>
        {{ end }}
        <!-- blog contect -->
        <div class="col-12 mb-5">
          {{ .Content }}
        </div>
        <!-- List des media -->
        <div class="col-12 mt-0 mb-3">
          <!-- media articles -->
          {{ $pages := where .Site.RegularPages "Type" "media" }}
          {{ $paginator := .Paginate $pages }}
          <div class="row media-list">
          {{ range $paginator.Pages }}
            <div class="col-2 my-4">
              <span class="h2">{{ .Date.Format "2006"}}</span><br />
              {{ .Date | time.Format "1 Jan"}}
            </div>
            <div class="col-7 my-4">
              <h4><a href="{{ .Params.link | absURL }}" target="_blank"><span class="badge badge-danger">{{.Params.media}}</span> {{ .Title }}</a></h4>
              {{ .Content }}
            </div>
            <div class="col-3 my-4">
              <a href="{{ .Params.image | relURL }}" class="venobox"><img src="{{ .Params.image | relURL }}" class="w-100" /></a>
            </div>
          {{ end }}
          </div>
        </div>
        <!-- comments -->
        {{ if site.DisqusShortname }}
        <div class="col-12">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /blog details -->

{{ end }}