<article
  class="card bg-dark rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
  <img class="card-img-top rounded-0" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
  <div class="card-body">
    <!-- post meta -->
    <ul class="list-inline mb-3">
      <!-- post date -->
      <li class="list-inline-item mr-3 ml-0"><i class="ti-calendar"></i>
        {{ .PublishDate.Format "02 Jan, 2006" }}</li>
      <!-- author -->
      <li class="list-inline-item mr-3 ml-0"><i class="ti-user"></i> <a
          href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author | title }}</a>
      </li>
    </ul>
    <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <p class="card-text">{{ .Summary  }}</p>
    <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">{{ i18n "read_more" }}</a>
    <div class="row mt-4">
      <div class="col-1"><span class="ti-folder"></span></div>
      <div class="col-10">
        {{ range (.GetTerms "categories") }}
          <a href="{{ .Permalink }}" class="badge badge-secondary" style="font-weight: 500">{{ .LinkTitle }}</a>
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-1"><span class="ti-tag"></span></div>
      <div class="col-10">
        {{ range (.GetTerms "tags") }}
          <a href="{{ .Permalink }}" class="badge badge-secondary" style="font-weight: 500">{{ .LinkTitle }} {{.Description}}</a>
        {{ end }}
      </div>
    </div>
    <p>
      
      </p>
  </div>
</article>