{{ define "main" }}

<!-- event single -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="h4 text-majenta"><a href="{{ .Page.Parent.RelPermalink }}">{{ partial "ti" "arrow-left-circle o" }} {{ .Page.Parent.Title }} </a></p>
        <h2 class="section-title">{{ .Title }}</h2>
      </div>
      <!-- event image -->
      {{ if .Params.image }}
        {{ $image := .Resources.GetMatch .Params.image }}
        {{ if gt $image.Width 1000 }}
          {{ $image = $image.Resize "1000x q75" }}
        {{ end }}
        <div class="col-12 mb-4">
          <img style="max-height:500px;width:100%;object-fit: cover;" src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="img-fluid w-100">
        </div>
      {{ end }}
    </div>
    <!-- event info -->
    <div class="row align-items-center mb-5">
      <div class="col-auto">
        <ul class="list-inline">
          <!-- Lieu -->
          <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
            <div class="d-flex align-items-center">
              {{ partial "ti" "location o" }}
              <div class="text-left ml-3">
                <h6 class="mb-0">{{ i18n "location" | upper}}</h6>
                <p class="mb-0">{{ partial "location" (dict "location" .Params.location "address" .Params.address ) }}</p>
              </div>
            </div>
          </li>
          <!-- When -->
          {{ if .Params.when }}
            <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
              <div class="d-flex align-items-center">
                {{ partial "ti" "calendar o" }}
                <div class="text-left ml-3">
                  <h6 class="mb-0">{{ i18n "when" | upper }}</h6>
                  <p class="mb-0">{{ .Params.when | markdownify }}</p>
                </div>
              </div>
            </li>
          {{ end }}
          <!-- Heure -->
          {{ if .Params.time }}
            <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
              <div class="d-flex align-items-center">
                {{ partial "ti" "clock o" }}
                <div class="text-left ml-3">
                  <h6 class="mb-0">{{ i18n "time" | upper }}</h6>
                  <p class="mb-0">{{ .Params.time | markdownify }}</p>
                </div>
              </div>
            </li>
          {{ end }}
          <!-- Prix -->
          {{ if .Params.cout }}
            <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
              <div class="d-flex align-items-center">
                {{ partial "ti" "dollar" }}
                <div class="text-left ml-3">
                  <h6 class="mb-0">{{ i18n "entry_fee" | upper }}</h6>
                  <p class="mb-0">{{ .Params.cout | markdownify }}</p>
                </div>
              </div>
            </li>
          {{ end }}
          <!-- Inscription -->
          {{ if .Params.inscription }}
            <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
              <div class="d-flex align-items-center">
                {{ partial "ti" "signin" }}
                <div class="text-left ml-3">
                  <h6 class="mb-0">{{ i18n "registration" | upper }}</h6>
                  <p class="mb-0">{{ .Params.inscription | markdownify }}</p>
                </div>
              </div>
              </li>
          {{ end }}
        </ul>
      </div>
      <div class="col text-lg-right text-left">
        {{ range .Params.buttons }}
          {{ $title := cond ( isset . "link_title" ) .link_title "Lien"}}
          <a href="{{ .link | safeURL }}" class="btn btn-primary">
            {{ with .icon }}{{ partial "ti" . }}{{end}} 
            {{ $title }}</a>
        {{ end }}
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- activity details -->
    <div class="row">
      <div class="col-12 mb-5 content">
        {{ .Content }}
      </div>
      <!-- with -->
      {{ if .Params.with }}
        <div class="col-12 mb-5">
          {{ partial "with" .}}
        </div>
      {{ end }}
    </div>
    <!-- linked events -->
    {{ $p1 := where .Site.Pages "Params.activity" (.Title | title) }}
    {{ $p2 := where .Site.Pages "Params.activity" .Slug }}
    {{ $pages := union $p1 $p2}}
    {{ if $pages }}
      <div class="row">
        <div class="col-12 mb-5 content">
          <h3>Prochaines dates</h3>
          {{ range sort $pages "Params.start" }}
          {{ .Render "li" }}
          {{ end }}
        </div>
      </div>
    {{ end }}
    <!-- Feed -->
    {{ if .Params.feed }}
      <div class="row">
        <div class="col-12 mb-5 content">
          <h3>Derniers épisodes</h3>
            
          {{ $feed := resources.GetRemote .Params.feed | transform.Unmarshal }}
          {{ range first 10 $feed.channel.item }}
            {{ $title := cond (reflect.IsSlice .title) (index .title 0) .title }}
            {{ $description := cond (isset . "encoded" ) .encoded .summary }}
            <p class="h4"><a href="{{ .link }}" target="_blank" rel="noreferrer" >{{ $title }}</a></p>
            <p class="caption">{{ (time .pubDate) | time.Format "02 Jan 2006" }}</p>
            <audio class="w-100" controls>
              {{ $url := index .enclosure "-url"}}
              {{ $type := index .enclosure "-type"}}
              <source src="{{ $url }}" type="{{ $type }}">
              Your browser does not support the audio tag.
            </audio>
            <div class="px-5 pt-3">{{ $description | safeHTML }}</div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</section>
<!-- /event single -->

{{ end }}