{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- hero slider -->
{{ if $data.homepage.slider.enable }}
{{ with $data.homepage.slider }}
    <!-- slider item -->
  {{ $items := .slider_item }}
  <!-- Add last posts -->
  {{ range first .last_posts (where site.RegularPages "Type" "post") }}
    {{ $image := ( .Resources.GetMatch .Params.image ).RelPermalink }}
    {{ if not .Params.dont_resize_image}}
      {{ $image = ( .Resources.GetMatch .Params.image ).RelPermalink }}
    {{ end }}
    {{ $items = $items | append (dict
      "title" .Title
      "content" .Summary
      "image" $image
      "bg_image" .Params.bg_image
      "type" "post"
      "button" (dict "enable" true "label" "lire la suite du post" "link" .Permalink)) }}
  {{ end }}
  <!-- Add last events -->
  {{ range first .last_events (where (sort (where site.RegularPages "Type" "event") "Params.start") "Params.start-unix" "gt" now.Unix ) }}
    {{ $activity := site.GetPage .Params.activity }}
    {{ if $activity.Params.image }}
      {{ $items = $items | append (dict
        "title" .Title
        "content" (printf "<p>%s</p><p>%s</p>" $activity.Summary .Description)
        "image" ($activity.Resources.GetMatch $activity.Params.image).RelPermalink
        "bg_image" .Params.bg_image
        "type" "event"
        "meta" (printf "<p>%s // %s // %s</p>" (partial "event_date" .) (partial "event_time" .) .Params.location)
        "button" (dict "enable" true "label" "info sur l'évènement" "link" .Permalink)) }}
      {{ end }}
  {{ end }}
<section class="overlay bg-cover" data-background="{{ .bg_image | absURL }}">
  <div class="container-fluid p-0">
    <div id="carousel" class="carousel slide hero-slides" data-ride="carousel" data-interval="7000">
      <ol class="carousel-indicators">
        {{ range $index, $item := $items }}
          {{ $active := cond (eq $index 0) "active" "" }}
          <li class="{{ $active }}" data-target="#carousel" data-slide-to="{{ $index }}"></li>
        {{ end }}
      </ol>
      <div class="carousel-inner">
        {{ range $index, $item := $items }}
          {{ $item := merge $item ( dict "active" ( cond (eq $index 0) "active" "" ) "index" $index) }}
          {{ partial "carousel_item" $item }}
        {{ end }}
      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="h3">{{ partial "ti" "left o"}}</span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="h3">{{ partial "ti" "right o"}}</span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /hero slider -->

<!-- banner-feature -->
{{ if $data.homepage.banner_feature.enable }}
{{ with $data.homepage.banner_feature }}
<section class="bg-gray overflow-md-hidden banner">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <!-- Image -->
      <div class="col-xl-4 col-lg-5 align-self-center text-center mt-4 img">
        <a href="{{ .image | absURL }}" class="venobox"><img class="img-fluid" src="{{ .image | absURL }}" alt="banner-feature"></a>
      </div>
      <!-- Features -->
      <div class="col-xl-8 col-lg-7 text-center">
        <div class="row feature-blocks bg-gray justify-content-between">
          <p class="h4 col-12 text-majenta mt-3 mb-2 font-osd">{{ .subtitle | markdownify }}</p>
          <p class="h2 col-12 text-yellow mt-2 mb-3">{{ .title | markdownify }}</p>
          <p class="h6 col-12 text-white mb-5">{{ .text | markdownify }}</p>
          {{ range .feature_item }}
          <div class="col-sm-4 col-xl-4 mb-xl-5 mb-lg-3 mb-4 text-center">
            <img src="{{ .image }}" class="mb-xl-4 mb-lg-3 mb-4" width="111px" alt="{{ .name }}" />
            <h3 class="mb-xl-4 mb-lg-3 mb-4" style="color:{{.color}};">{{ .name | markdownify }}</h3>
            <p>{{ .content | markdownify }}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner-feature -->

<!-- about us -->
{{ if $data.homepage.about.enable }}
{{ with $data.homepage.about }}
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-outline-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
      {{ with .image }}
      <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
        <a href="{{ . | absURL }}" class="venobox"><img class="img-fluid w-100" src="{{ . | absURL }}" alt="it's dangerous to go alone" style="mix-blend-mode: screen;"></a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about us -->

<!-- cta -->
{{ if $data.homepage.cta.enable }}
{{ with $data.homepage.cta }}
<section class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="h6 text-white font-secondary mb-0">{{ .subtitle | markdownify }}</p>
        <h2 class="section-title text-white">{{ .title | markdownify }}</h2>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-light">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /cta -->

<!-- where to fin us -->
{{ if $data.homepage.wtfu.enable }}
{{ with $data.homepage.wtfu }}
<section class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="h6 text-white font-secondary mb-0">{{ .subtitle | markdownify }}</p>
        <h2 class="section-title text-white">{{ .title | markdownify }}</h2>
        <div class="row">
          {{ range .buttons }}
            {{ $b := index ( where site.Params.social "title" .) 0 }}
            <a href="{{ $b.link | absLangURL }}" class="col mx-3 dark" target="_blank" rel="noreferrer" >
              <p class="h2 mb-2">
                {{ partial "ti" $b.icon }}
              </p>
              <span class="hidden">{{ $b.title }}</span>
            </a>
          {{ end }}
        </div>
        {{ if .display_others }}
          <div class="row mt-5">
            {{ $b := where site.Params.social "title" "not in" .buttons }}
            {{ range $b }}
                <a class="col p-2 dark" href="{{ .link | safeURL }}" target="_blank" rel="noreferrer" >
                  {{ with .icon }} {{ partial "ti" . }} {{end}}
                  {{ with .image }} <img src="{{ . }}" width="16" alt="{{ . }}" /> {{end}}
                  <br /><span class="hidden">{{ .title }}</span>
                </a>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /where to fin us -->

<!-- success story -->
{{ if $data.homepage.success_story.enable }}
{{ partial "success-story.html" . }}
{{ end }}
<!-- /success story -->

<!-- events -->
{{ if $data.homepage.event.enable }}
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ $data.homepage.event.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{`event` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block text-nowrap">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- event -->
      {{ range first 2 ( sort (where (where site.RegularPages "Type" "event") "Params.start-unix" "gt" now.Unix) "Params.start")}}
      <div class="col-12 col-lg-6 mb-lg-0">
        {{ .Render "li" }}
      </div>
      {{ end }}
    </div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{`event` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /events -->

<!-- blog -->
{{ if $data.homepage.blog.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ $data.homepage.blog.title }}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- blog post -->
      {{ range first 3 (where site.RegularPages "Type" "post")}}
      <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "card" }}
      </article>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /blog -->

{{ end }}