{{ define "main" }}

<!-- blogs -->
<section class="section dark">
  <div class="container">
    <h1 class="text-primary">{{.Title}}</h1>
    <div class="row">
      <div class="col-12 mt-4 mb-3">
        {{ .Content }}
      </div>
      <!-- blog post -->
      <!-- $paginator := .Paginate ( where .Data.Pages "Type" "post")
      range $paginator.Pages -->
      {{ range .Pages }}
        <div class="col-sm-4 mb-5">
          {{ if eq .Type "post" }}
          {{ .Render "card" }}
          {{ else }}
          {{ .Render "generic" }}
          {{ end }}
        </div>
      {{ end }}
      {{ range .Params.contrib }}
        <div class="col-sm-4 mb-5">
          
          <article
          class="card bg-dark rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{ .image }}" alt="{{ .title }}">
          <div class="card-body">
              <h4 class="card-title"><a href="{{ .Permalink }}">{{ .title }}</a></h4>
              <p class="card-text">{{ .summary  }}</p>
              <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">{{ i18n "read_more" }}</a>
          </div>
          </article>
        </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /blogs -->

{{ end }}