{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="row">
      <p class="h4 text-majenta"><a href="{{ .Page.Parent.RelPermalink }}">{{ partial "ti" "arrow-left-circle o" }} {{ .Page.Parent.Title }} </a></p>
      <div class="col-12 bg-cover mb-5" style="height: 220px;" data-background="{{ .Params.image }}" ></div>
      <div class="col-12">
        <h1 class="section-title">{{ .Title }}</h2>
      </div>
      <div class="col-12 py-5">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}