// Tag
.tag-list{
  a{
    display: block;
    padding: 5px 10px;
    background: $light;
    color: $text-color;
    &:hover{
      background-color: $primary-color;
      color: $white;
    }
  }
}

@for $i from 1 through 100 {
  $size: 1em;
  @if $i <= 20 { $size: .7em + ( 2 / 20 ) * $i; }
  @if $i >  20 { $size: 2.7em; }
  .font_size_#{$i} { font-size: $size; }
}

.media a:hover h5 {
  color: $primary-color;
  transition: 0.3s;
}