.hero-section {
  padding: 250px 0 290px;
}

#carousel {

  .carousel-item{
    height: 700px;
    width:100%;
    min-height:80vh;
  }

  .carousel-inner .carousel-item{
    transition:-webkit-transform 1s ease;
    transition:transform 1s ease;
    transition:transform 1s ease, -webkit-transform 1s ease;
  }
  .carousel-item .caption{
    background:rgba(0,0,0,0.5);
    padding:40px;
    color:white;
    animation-duration: 1s;
    animation-delay: 1s;
    backdrop-filter: blur(8px);
  }
  .caption h2{
    animation-duration: 1s;
    animation-delay: 1s;
  }
  .caption p{
    animation-duration: 1s;
    animation-delay: 1.2s;
  }

  .caption a{
    animation-duration: 1s;
    animation-delay: 1.4s;
  }
  .carousel-control-next, .carousel-control-prev {
    align-items: end;
    margin-bottom: 130px;
    @include desktop { margin-bottom: 20px; }
  }
  .carousel-control-prev { right: 100px; left: auto; }
  .carousel-control-next span, .carousel-control-prev span { color: $secondary-color; }

  .carousel-indicators {
    right: auto;
    li {
      width: 12px;
      height: 12px;
      &.active { background-color: $primary-color; }
    }
  }
}