{{ define "main" }}

{{ $activity := site.GetPage (printf "/activities/%s" .Params.activity) }}
<!-- event single -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ if $activity }}
          <p class="h4 text-majenta"><a href="{{ $activity.RelPermalink }}">{{ partial "ti" "arrow-left-circle o" }} {{ $activity.Title }}</a></p>
        {{ end }}
        <h2 class="section-title">{{ .Title }}</h2>
      </div>
      <!-- event image -->
      {{ $image := "" }}
      {{ if .Params.image }}
        {{ $image = .Params.image | relURL }}
      {{ else if $activity }}
        {{ $image = $activity.Resources.GetMatch $activity.Params.image }}
        {{ if gt $image.Width 1000 }}
          {{ $image = $image.Resize "1000x q75" }}
        {{ end }}
        {{ $image = $image.RelPermalink }}
      {{ end }}
      {{ if $image }}
      <div class="col-12 mb-4">
        <img style="max-height:500px;width:100%;object-fit: cover;" src="{{ $image }}" alt="{{ .Title }}" class="img-fluid w-100">
      </div>
      {{ end }}
    </div>
    <!-- event info -->
    <div class="row align-items-center mb-5">
      <div class="col-auto">
        <ul class="list-inline">
          <!-- Lieu -->
          <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
            <div class="d-flex align-items-center">
              {{ partial "ti" "location o" }}
              <div class="text-left ml-3">
                <h6 class="mb-0">{{ i18n "location" | upper}}</h6>
                <p class="mb-0">{{ partial "location" (dict "location" .Params.location "address" .Params.address ) }}</p>
              </div>
            </div>
          </li>
          <!-- Date -->
          <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
            <div class="d-flex align-items-center">
              {{ partial "ti" "calendar o" }}
              <div class="text-left ml-3">
                <h6 class="mb-0">{{ i18n "date" | upper}}</h6>
                <p class="mb-0">{{ partial "event_date" . }}</p>
              </div>
            </div>
          </li>
          <!-- Heure -->
          <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
            <div class="d-flex align-items-center">
              {{ partial "ti" "clock o" }}
              <div class="text-left ml-3">
                <h6 class="mb-0">{{ i18n "time" | upper }}</h6>
                <p class="mb-0">{{ partial "event_time" .}}</p>
              </div>
            </div>
          </li>
          <!-- Inscription -->
          {{ if .Params.inscription }}
            <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
              <div class="d-flex align-items-center">
                {{ partial "ti" "signin" }}
                <div class="text-left ml-3">
                  <h6 class="mb-0">{{ i18n "registration" | upper }}</h6>
                  <p class="mb-0">{{ .Params.inscription | markdownify }}</p>
                </div>
              </div>
              </li>
          {{ end }}
        </ul>
      </div>
      <div class="col text-lg-right text-left">
        <!-- Flyer -->
        {{ if .Params.flyer }}
          <a href="{{ .Params.flyer | safeURL }}" target="_blank" class="btn btn-primary">
            {{ partial "ti" "image" }}
            Flyer</a>
        {{ end }}
        <!-- Bouttons -->
        {{ range .Params.buttons }}
          {{ $title := cond ( isset . "link_title" ) .link_title "Lien"}}
          <a href="{{ .link | safeURL }}" target="_blank" class="btn btn-primary">
            {{ with .icon }}{{ partial "ti" . }}{{end}} 
            {{ $title }}</a>
        {{ end }}
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- event details -->
    <div class="row">
      <div class="col-12 mb-50 content">
        {{ .Content }}
        {{ if .Params.activity }}
          {{ if and $activity.Content .Content }} <hr /> {{ end }}
          {{ if $activity.Content }}
            <p class="h5 text-cyan">Description de <a href="{{ $activity.RelPermalink }}" alt="Vers la page {{ $activity.Title }}">{{ $activity.Title }}</a>:</p>
            {{ end }}
          {{ $activity.Content }}
        {{ end }}
      </div>
    </div>
    <div class="row">
      <!-- event speakers -->
      {{ if .Params.with }}
        <div class="col-12 mb-5"> 
          {{ partial "with" .}}
        </div>
      {{ end }}
      <!-- partenaires -->
      {{ with $activity.Params.partenaires }}
        {{ partial "partenaires" .}}
      {{ end }}
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
  </div>
</section>
<!-- /event single -->

{{ end }}