{{ define "main" }}

<section class="section bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="text-center">
					<figure class="team">
						{{ if .Params.image }}
						<img class="rounded-circle img-fluid mb-4" src="{{ partial "img_resize" (dict "ctx" $ "path" .Params.image "param" "500x") }}">
						{{else if .Params.Email}}
						<img class="rounded-circle img-fluid mb-4" src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon">
						{{ end }}
						<figcaption>
							<h4 class="font-weight-bold">
								{{ .Title }}
							</h4>
							{{ with .Params.pseudo}}
							<h6 class="font-weight-bold">
								aka {{ . }}
							</h6>
							{{ end }}
						</figcaption>
					</figure>
					<hr class="border-primary">
					{{ .Content }}
					<hr class="border-primary">
					<ul class="list-inline">
						{{ range .Params.Social }}
						<li class="list-inline-item"><a href="{{ .link | safeURL }}" data-toggle="tooltip" data-placement="top" title="Tooltip on top">{{ partial "ti" .icon }}</a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			{{ $p := where (where site.Pages "Type" "post") "Params.Author" "in" (slice .Title .Slug) }}
  			{{ if $p }}
				<div class="col-lg-12">
					<div class="title text-center">
						<h2 class="section-title">{{ i18n "posted_by" }} {{ .Title }}</h2>
					</div>
				</div>
				{{ range $p }}
				<div class="col-lg-4 col-sm-6 mb-4">
					{{ .Render "card" }}
				</div>
				{{ end }}
			{{ end }}
			{{ $e  := where (where site.Pages "Type" "event") "Params.with" "intersect" (slice .Title .Slug .Params.pseudo) }}
			{{ if $e }}
			  <div class="col-lg-12">
				  <div class="title text-center">
					  <h2 class="section-title">Évenements avec {{ .Title }}</h2>
				  </div>
			  </div>
			  {{ range $e }}
			  <div class="col-lg-6 col-sm-12 mb-4">
				  {{ .Render "li" }}
			  </div>
			  {{ end }}
		  {{ end }}
		</div>
	</div>
</section>
{{ end }}