// Tweaks

.bg-body {background: $body-color;}
.overlay::before {background: $darkgray;}
a.text-secondary, a.text-secondary:hover { color: $majenta !important; }

// Pagination
.pagination{
  .page-link{
    border: none;
    color: $darkgray;
    background: transparent;
  }
  .page-link:hover{
    background: $majenta;
    color: $darkgray;
  }
  .page-item.disabled .page-link{
    background: transparent;
    color: $gray;
  }
}

// Footer
.bg-footer {
  background-color: #4b4c58;
}
.footer {
  border-color: $yellow !important;
  padding-top: 275px;
  color: #ddd;
  a {
    color: #ccc;
    text-transform: capitalize;
    &:hover {
      text-decoration: none;
      color: $yellow;
    }
  }
}
.copyright p {text-transform: none;}

// Icons
.inline-svg svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  top: 0em;
  position: relative;
}

// Author
figure.author img {
  max-width: 50%;
  @include mobile { max-width: 80%; }
}