// Color Variables
$cyan: #00ffdd;
$yellow: #ffd400;
$majenta: #d700d7;
$darkgray: #212227;

$primary-color: $yellow; // #ffbc3b
$secondary-color: $cyan;
$text-color: #ddd;
$text-color-light: #777;
$text-color-dark: $cyan;
$body-color: $darkgray;
$border-color: $majenta;
$black: #000;
$white: #212227;
$light: #555;
$gray: #4b4c58;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
//$secondary-font: 'VCR OSD Mono';
// $icon-font: 'themify';

.text-cyan {color: $cyan !important;}
.text-majenta {color: $majenta !important;}
.text-yellow {color: $yellow !important;}
.text-darkgray {color: $darkgray !important;}
.bg-majenta {background: $majenta !important;}
.bg-yellow {background: $yellow !important;}
.bg-darkgray {background: $darkgray !important;}
.border-cyan {border: 1px solid $cyan !important; }
.border-majenta {border: 1px solid $majenta !important; }
.border-yellow {border: 1px solid $yellow !important; }

// Custom fonts
@font-face {
  font-family: 'VCR OSD Mono';
  src: url('../fonts/VCR_OSD_MONO_1.001.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-osd { font-family: 'VCR OSD Mono'; }